<h2>Home page</h2>

<h3>Simple examples</h3>
<ul>
  <li><%= link_to 'Plain text', "/plain-text-with-layout" %></li>
  <li><%= link_to 'Simple page', "/simple-page" %></li>
  <li><%= link_to 'Dynamic route example - date', "/2012/02/04" %></li>
  <li><%= link_to 'HAML example', '/haml-example' %></li>
</ul>

<h3>No layout examples</h3>
<ul>
  <li><%= link_to 'Simple page - no layout', "/simple-page-no-layout" %></li>
  <li><%= link_to 'Plain text - no layout', "/plain-text" %></li>
</ul>

<h3>Useful links</h3>
<ul>
  <li><%= link_to 'Sinatra', 'http://www.sinatrarb.com/' %></li>
  <li><%= link_to 'Haml', 'http://haml-lang.com/' %> – alternative to Erb</li>
  <li><%= link_to 'Sass', 'http://sass-lang.com/' %> – better syntax than standard <code>.css</code> files</li>
</ul>