<html>
  <head>
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">      

    <link href="/scss/main.css" media="screen, projection" rel="stylesheet" type="text/css">      
    
    <script type="text/javascript" src="/javascript/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/javascript/application.js"></script>
  </head>
  <body>
    <div class="container prepend-4 span-12 append-4 last">
      <header id="header">
        <p>Ruby Webapp Tutorial</p>
        <h1>Sinatra</h1>
      </header>
      <nav id="nav">
        <%= link_to "<< home", "/" %>
        <div class="info">
          <p>Request was  <code><%= request.request_method %> <%= request.path %></code></p>
          <p>Params were: <code><%= params.inspect %></code></p>
        </div>
      </nav>
      <div id="main">
        <%= yield %>
      </div>
      <footer id="footer">
        <hr />
        Mat Holroyd &copy; <%= Date.today.year %>
      </footer>
    </div>
  </body>
</html>